

 H1 { 
color: #404040;
font-size: 30px;
Font-family: Caveat;
}
P { 
color: #404040;
font-size: 30px;
Font-family: Caveat;
}

li { color: #e36d51;
   }
li span { color:  #404040;
   }
  .stroke {color:#404040;
    text-shadow: #e36d51 0 0 2px;}
  a {text-decoration: none;
  color: #98FB98;
   font-size: 35px;
  }
  a:hover {
    color: #e36d51 ;}
  .font { color: #404040;
font-size: 30px;
Font-family: Caveat;
  }
