H1 { 
    font-size: 200%; 
    font-family: Arial, Helvetica, sans-serif; 
    color: #1faee9; 
   }
P {
  padding-left: 20px;
  font-family: 'Times New Roman';
  color: #;
}
A {
  text-decoration: none;
  font-family:Monotype Corsiva;
  color: #1fadd7;
  }
